*{
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
    background-image: url("../img/desert.jpg"); /*attention ici nous sommes dans le dossier css, les chemins ne sont pas les mêmes que dans l'index.html */
    background-repeat: no-repeat;
}

h1{
    font-size: 45px;
    font-family: 'Oswald', sans-serif;
    color: peru;
    text-align: center;
    letter-spacing: 1px;
}

h2{
    font-size: 35px;
    color: orangered;
    padding: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 2px #aaa;
}

h3{
    font-size: 22px;
    color: orangered;
    padding: 15px;
    text-shadow: 1px 1px 2px #aaa;
}

h4{
    text-align: center;
    margin-top: 30px;
}

blockquote{
    font-style: italic;
    font-size: 120%;
}

strong{
    font-weight: bold;
}


/* ----------- HEADER INDEX ------------- */
header{
    background-color: skyblue;
    height: 7.5em;
}

#logo{
    float: left;
    width: 25%;
    background-color: skyblue;
    padding: 15px;
    text-align: center;
}

#logo img{
    width: 25%;
    height: 50%;
}

#slogan{
    float: left;
    width: 50%;
    background-color: skyblue;
    padding-top: 50px;
}

#social{
    float: left;
    width: 25%;
}

#social i{
    background-color: skyblue;
    font-size: 30px;
    text-align: right;
    padding: 15px 30px 0 0; /* haut droite bas gauche */
    display: block;
}

header a{
    color: peru;
    text-decoration: none;
}

/* ------------- DEBUT NAV ------------ */

nav{
    background-color: skyblue;
    height: 70%;
    border-bottom: 8px solid lightskyblue;
    text-align: center;
    padding: 15px;
    padding-left: 4em;
    padding-right: 4.85em;
    display: inline-block;
}

nav a{
    margin: 10px;
    padding: 2px 10px;
    border-radius: 10px 0px;
    border: 2px solid lightblue;
    background-color: lightskyblue;
    color: peru;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    transition: 0.5s;
}

nav a:hover{
    background-color: royalblue;
    color: wheat;
}

.activ{
    background-color: darkslategray;
}

/* ------------ FIN NAV ---------- */

main{
    background-color: rgba(128, 128, 128, 0.219);
    width: 1000px;
    margin: 0 auto;
}

aside{
    height: 250px;
    background-color: lightblue;
}

section{
    margin-top: 50px;
    padding: 20px;
    background-color: palegoldenrod;
}

footer{
    background-color: skyblue;
    height: 30px;
    text-align: right;
    padding: 5px 10px;
}

/* ------------ DEBUT PAGE TEXTE ------------- */

.oswald p{
    font-family: 'Oswald', sans-serif;
}

/* ------------ DEBUT PAGE SELECTEUR ------------- */
.select p{
    color: red;
}

.select p:first-of-type, .select p:last-of-type{
    color: orangered;
}

.select p:nth-of-type(5), .select p:nth-of-type(6){
    color: darkorange;
}

.select div:not(.zoneB){
    font-weight: bold;
}

.select .zoneA{
    color: violet;
}

.select .zoneB{
    color: peru;
}

.select .zoneB .couleurBleu{
    color: blue;
    font-size: 16px;
}

.select #zoneC{
    color: yellowgreen;
}

.select #zoneD{
    color: green;
    font-size: 30px;
    font-style: italic;
}

/* ------- Début page Image --------- */
.imageFond{
    background: black url(../img/fond.jpg) no-repeat;
    background-size: cover;
}

.imageFond p{
    width: 75%;
    margin: 100px auto 200px auto;
    background-color: white;
    padding: 20px;
    font-size: 120%;
    border-radius: 20px;
}

figure{
    margin: auto;
    width: 250px;
    display: block;
    background-color: rgb(0, 0, 0, 0.671);
}

figcaption{
    color: white;
    text-align: center;
    padding: 2px;
    font-style: oblique;
}

.rotationImg{
    text-align: center;
}

.image{
    margin: 20px;
    border: 5px #eee;
    box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.2);
    transition: 1s;
}

.image:hover{
    transform: rotate(-7deg);
    border: 15px solid #eee;
}

.rotation360:hover{
    transform: rotate(-360deg);
    
}

/* ------- Début page Position --------- */

.centre{
    margin: 0 auto;
    width: 500px;
    height: 200px;
    background-color: aquamarine;
}

.absolute{
    position: absolute;
    top: 24%;
    left: 10%;
    background-color: orange;
    width: 100px;
    height: 100px;
}

/* ------- Relative ------- */

.relative{
    background-color: slategray;
    width: 400px;
    height: 400px;
    position: relative;
    bottom: 10px;
    left: 100px;
}

.relative{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background-color: tan;
}

/* ------- Bouton retour en haut fixed -------- */

button{
    position: fixed;
    bottom: 40px;
    right: 20px;
    cursor: pointer;
    border: none;
    /*background: transparent;*/
    font-size: 350%;
    color: slategray;
}

/* ------- Pourcentage ----------- */
.trente{
    width: 30%;
    padding: 20px;
    font-size: 22px;
    background-color: brown;
    color: tan;
    font-weight: bold;
}

.cinquante{
    width: 50%;
    padding: 20px;
    font-size: 22px;
    background-color: red;
    color: lightgoldenrodyellow;
    font-weight: bold;
    margin-top: 7px;
}

.cent{
    width: 100%;
    padding: 20px;
    font-size: 22px;
    background-color: tan;
    color: red;
    font-weight: bold;
    margin-top: 7px;
}

/* ------- Float -------- */

.float{
    height: 170px;
    width: 170px;
    margin: 10px;
    padding-top: 2px;
    float: left;
    text-align: center;
    font-size: 25px;
    background-color: tan;
    border: 5px dotted darkred;
}

.dernier{
    height: 170px;
    width: 170px;
    margin: 10px;
    padding-top: 2px;
    text-align: center;
    font-size: 25px;
    background-color: darkred;
    border: 5px dotted tan;
}

.clear{
    clear: both;
}

/* ------- Exercice Float -------- */

.zone{
    width: 100%;
    height: 50px;
    background-color: #444;
}

.zone1{
    width: 240px;
    height: 240px;
    background-color: rgb(50, 100, 150);
    float: left;
}

.zone2{
    width: 240px;
    height: 240px;
    background-color:lightgoldenrodyellow;
    float: left;
}

.zone3{
    width: 240px;
    height: 240px;
    background-color: orange;
    float: left;
}

.zone4{
    width: 240px;
    height: 240px;
    background-color: brown;
    float: left;
}

.clear{
    clear: both;
}

/* ------- Flexbox -------- */

.flex{
    display: flex;
    justify-content: space-between;
}

.biseau1{
    width: 100px;
    height: 100px;
    background-color: firebrick;
    font-size: 24px;
    color: white;
    text-align: center;
    border: 7px outset red;
}

.biseau2{
    width: 100px;
    height: 100px;
    background-color: navy;
    font-size: 24px;
    color: white;
    text-align: center;
    border: 7px outset blue;
}

.biseau3{
    width: 100px;
    height: 100px;
    background-color: green;
    font-size: 24px;
    color: white;
    text-align: center;
    border: 7px outset forestgreen;
}

.biseau4{
    width: 100px;
    height: 100px;
    background-color: orange;
    font-size: 24px;
    color: white;
    text-align: center;
    border: 7px outset yellow;
}

/* ---------- Début Page Zoning ---------- */

#zoning1{
    background-color: aliceblue;
    width: 800px;
    text-align: center;
    text-shadow: 1px 1px 2px darkred;
    margin: auto;
}

#zoning1 header{
    height: 70px;
    background-color: lightgoldenrodyellow;
}

#zoning1 aside{
    height: 525px;
    float: left;
    width: 20%;
    background-color: lightsalmon;
}

#zoning1 section{
    float: left;
    background-color: lightskyblue;
    height: 525px;
    width: 80%;
    margin: 0;
    padding: 0;
}

/* ------- Zoning 2 --------- */

#zoning2{
    background-color: aliceblue;
    width: 800px;
    text-align: center;
    text-shadow: 1px 1px 1px darkgray;
    margin: auto;
}

#zoning header{
    height: 70px;
    background-color: aliceblue;
}

#zoning2 aside{
    height: 525px;
    float: left;
    width: 20%;
    background-color: turquoise;
    color: white;
}

#zoning2 .middle{
    float: left;
    background-color: navy;
    height: 520px;
    width: 60%;
    margin: 0;
    padding: 0;
    color: white;
}

/* ------- Zoning 3 --------- */

#zoning3{
    background-color: aliceblue;
    width: 800px;
    text-align: center;
    text-shadow: 1px 1px 2px darkgray;
    color: white;
    margin: auto;
}

#zoning3 section{
    height: 525px;
    float: left;
    width: 50%;
    background-color: teal;
    margin: 0;
    padding: 0;
}

#zoning3 footer{
    height: 70%;
    float: left;
    width: 100%;
    background-color: white;
    color: black;
}

#zoning3 section:nth-of-type(2){
    background-color: darkkhaki;
}

/* ------- Zoning 4 --------- */

#zoning4{
    background-color: aliceblue;
    width: 800px;
    text-align: center;
    margin: 0 auto;
    border: 2px solid black;
}

#zoning4 header{
    background-color: white;
}

#zoning4 nav{
    background-color: rgb(123, 168, 146);
    width: 796px;
    padding-right: 4em;
}

#zoning4 section{
    background-color: teal;
    width: 750px;
    height: 650px;
    margin: 1.5em;
    color: white;
    padding: 0;
}

#zoning4 footer{
    background-color: rgb(10, 10, 10);
    color: black;
    text-shadow: 1px 1px 2px grey;
    height: 80px;
}

/* ------- Zoning 5 --------- */

#zoning5{
    background-color: rgb(202, 116, 4);
    width: 800px;
    text-align: center;
    margin: 0 auto;
    border: 2px solid black;
    font-weight: bold;
}

#zoning5 header{
    background-color: rgb(184, 143, 40);
    color: white;
}

#zoning5 nav{
    background-color:rgb(156, 127, 53);
    width: 796px;
    padding-right: 4em;
    color: white;
}

#zoning5 section{
    background-color:rgb(202, 116, 4);
    width: 750px;
    height: 400px;
    margin: 1.5em;
    color: black;
    padding: 0;
}

.z1{
    background-color: rgb(156, 127, 53);
    width: 375px;
    height: 200px;
    float: left;
}

.z2{
    background-color: rgb(221, 180, 75);
    width: 375px;
    height: 200px;
    float: left;
}

.z3{
    background-color: rgb(221, 180, 75);
    width: 375px;
    height: 200px;
    float: left;
}

.z4{
    background-color: rgb(156, 127, 53);
    width: 375px;
    height: 200px;
    float: left;
}

#zoning5 footer{
    background-color: rgb(184, 143, 40);
    color: black;
    height: 80px;
}

/* ------- Zoning 6 --------- */

#zoning6{
    width: 800px;
    height: 1000px;
    color: white;
    margin: 0 auto;
    text-align: center;
}

#zoning6 .haut1{
    width: 200px;
    height: 180px;
    background-color: navy;
    float: left;
}

#zoning6 .haut2{
    width: 400px;
    height: 180px;
    background-color: royalblue;
    float: left;
}

#zoning6 .haut3{
    width: 200px;
    height: 180px;
    background-color: navy;
    float: left;
}

#zoning6 nav{
    height: 50px;
    width: 800px;
    background-color: rgb(0, 90, 90);
    border-bottom: none;
    padding-top: 2em;
}

#zoning6 aside{
    width: 150px;
    height: 650px;
    background-color: teal;
    float: left;
}

#zoning6 section{
    width: 800px;
    height: 800px;
    background-color: white;
    margin: 0;
    padding: 0;
}

#zoning6 .zoneA{
    width: 325px;
    height: 250px;
    background-color: darkgray;
    float: left;
}

#zoning6 .zoneB{
    width: 325px;
    height: 250px;
    background-color: navy;
    float: left;
}

#zoning6 .slideShow{
    width: 650px;
    height: 250px;
    background-color: rgb(43, 43, 43);
    float: left;
}

#zoning6 .zoneC{
    width: 162.5px;
    height: 150px;
    background-color: darkgray;
    float: left;
}

#zoning6 .zoneD{
    width: 162.5px;
    height: 150px;
    background-color: navy;
    float: left;
}

#zoning6 .zoneE{
    width: 162.5px;
    height: 150px;
    background-color: darkgray;
    float: left;
}

#zoning6 .zoneF{
    width: 162.5px;
    height: 150px;
    background-color: navy;
    float: left;
}

#zoning6 footer{
    background-color: rgb(0, 90, 90);
    height: 50px;
}

/* ------- Début page Tableau --------- */

table{
    border-collapse: collapse;
    border: 2px solid royalblue;
    font-weight: bold;
    margin: 20px auto;
    width: 80%;
}

.tableau caption{
    padding: 5px;
}

.tableau thead, .tableau tfoot{
    background-color: white;
    border: 1px solid royalblue;
}

.tableau tbody{
    border: 1px dotted royalblue;
}

.tableau th{
    border: 1px solid royalblue;
    padding: 5px;
    width: 20%;
}

.tableau td{
    border: 1px solid royalblue;
    font-size: 80%;
    padding: 5px;
    text-align: center;
}
